<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
{% extends "main.html" %}
<body>
    {% block content %}
    <section>
        <h1>{{request.user}} is loginede and u'r role is {{request.user.role}} </h1>
    </section>
    <section>
        <div>
            {% for product  in products %}
                <ul>
                    <li>Name: {{product.name}}</li>
                        <li>
                            {% if  product.discounted_price %}
                                <span><s>Price: {{product.price}}</s> {{product.discounted_price}}</span>
                            {% else %}
                                <span>Price: {{product.price}}</span>
                            {% endif %}
                        </li>
                    <li>Added: {{product.created}}</li>
                    {% if not request.user.is_superuser %}
                    <a href="{% url 'user-order' pk=product.id%}">Buy</a>
                    {% endif %}
                    <hr>
                </ul>
            {% endfor %}
        </div>
    </section>
    {% endblock %}
</body>
</html>