{% extends "main.html" %}

{% block content %}
<section>
    <h1>It's a list of available products. Hope you'll find what you're looking for.</h1>
</section>
<section>
    <div class="product-list">
        {% for product in products %}
        <div class="product-item">
            <h2>{{ product.name }}</h2>
            <ul>
                <li>
                    {% if product.discounted_price %}
                    <span class="original-price">Price: {{ product.price }}</span>
                    <span class="discounted-price">{{ product.discounted_price }}</span>
                    {% else %}
                    <span class="price">Price: {{ product.price }}</span>
                    {% endif %}
                </li>
                <li>Added: {{ product.created }}</li>
            </ul>
            {% if request.user.role == 'USER' %}
            <a href="{% url 'user-order' pk=product.id %}" class="buy-button">Buy</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
