{% extends "main.html" %}
{% block content %}
<section>
    {% if orders %}
    <form method="GET" action="">
      {% if request.user.role == 'BOOKER' %}
        <label for="from">From:</label>
        <input type="date" id="from" name="from">
      
        <label for="to">To:</label>
        <input type="date" id="to" name="to">
        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="">All</option>
          <option value="Undecided">Undecided</option>
          <option value="Paid">Paid</option>
          <option value="Completed">Completed</option>
        </select>
      {% else %}
        <label for="status">Status:</label>
        <select id="status" name="status">
          <option value="">All</option>
          <option value="Undecided">Undecided</option>
          <option value="Paid">Paid</option>
          <option value="Completed">Completed</option>
        </select>
      {% endif %}
        <button type="submit">Filter</button>
    </form>
    <table>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Date Created</th>
            <th>Status</th>
            {% if  request.user.role != 'USER' %}
            <th>Change status</th>
            {% elif request.user.role == 'CASHIER'%}
            <th>Gen bill</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.product }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.created }}</td>
            {% if not order.is_paid %}
              {% if request.user == order.customer%}
               <td><a href="{% url 'checkout' pk=order.id%}">Pay</a></td>
              {% endif %}
            {% else %}
                <td><p>{{order.status}}</p></td>
            {% endif%}

            {% if request.user.role != 'USER' and order.is_paid %}
              <th><a href="{% url 'change_order_status' pk=order.id %}">Change</a></th>
              {% if order.file %}
                <th><a href="{% url 'genpayment' pk=order.id %}">Recreate payment bill</a></th>
                <th><a href="{% url 'view_html' pk=order.id %}">Open payment bill</a></th>
              {% elif request.user.role in 'BOOKERCASHIER' %}
                <th><a href="{% url 'genpayment' pk=order.id %}">Create payment bill</a></th>
              {% endif %}
            {% endif %}
            {%if order.file %}

              {% if order.status == 'Paid' and request.user.role == 'USER'%}
                <th><a href="{% url 'view_html' pk=order.id %}">Download paymentbill</a></th>

              {% elif order.status == 'Completed' and request.user.role == 'USER' %}
                <th><p>U'r order completed. <a href="{% url 'view_html' pk=order.id %}">Download paymentbill</a></p></th>
              {% endif %}
            {% elif request.user.role == 'USER' %}
              <th>Wait till admin check the bill</th>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
    {% else %}
        <h1>there is not orders</h1>
    {% endif %}
</section>
{% endblock %}